.container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%; 
  padding: 10rem 0;
  background-color: #eee;
}

.question__container {
  display: grid;
  place-items: center;
}

.question {
  font-weight: normal;
  font-size: 8rem;
}

.question--bold {
  font-weight: bold;
}

.mailto_btn {
  display: flex;
  align-items: center;
  font-size: 3rem;
  border: 1px solid;
  border-radius: 30px;
  padding: .5rem 3rem;
  transition: 0.3s;
}

.mailto_btn:hover {
  color: var(--primary-color);
}


.list {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin: 0 10rem;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid;
  width: 33%;
  padding: 2rem 0;
}

.link__name {
  font-size: 2rem;
  transition: 0.3s;
}

.link__name:hover {
  color: var(--primary-color);
}

.link__username {
  opacity: 70%;
}

.link__icon {
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 50%;
  transition: 0.3s;
}

.link__icon:hover {
  transform: translateY(-20%);
}

.copyright {
  margin: 0 auto;
  opacity: 60%;
  margin: 5rem auto -5rem auto;
}

.code:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 650px) { 
  .question {
    font-size: 4rem;
  }

  .links {
    display: grid;
    place-items: center;
    border: none;
    width:auto;
  }

  .link__name, .link__username {
    display: none;
  }
}