.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  color: var(--font-color);
  height: 101vh;
  padding: 5vh;
  margin-left: 15rem;
  background-color: black;
}
.container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100vw; height: 100%;
  background-image: url("../public/imgs/home.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -16rem;
  filter: blur(4px);
}

.title, .name, .description, .link, .backdrop {
  z-index: 2;
}

.backdrop {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  border-radius: 5px;
  padding: 3rem;
  width: fit-content;
}


.title {
  font-size: clamp(1.4rem, 3.5vw, 4rem);
  line-height: 1rem;
}

.name {
  font-size: clamp(6rem, 8vw, 10rem);
  padding: 1rem 0;
}
.description {
  max-width: 55ch;
  font-size: clamp(2.2rem, 2.6vw, 3rem);
  opacity: 95%;
}

.link__circle {
  display: flex;
  align-items: center;
  border: 1px solid var(--font-color);
  border-radius: 50%;
  padding: .5rem;
  margin-right: 1rem;
  transition: .5s;
}

.link {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  padding: 5rem 0 1rem 0;
  width: fit-content;
}

.link:hover .link__circle {
  background-color: #eee;
  color: var(--primary-color);
}
@media only screen and (max-width: 1000px) { 
  .container, .container::before {
    margin-left: 0;
  }
}

@media only screen and (max-width: 650px) { 
  .container {
    height: 110vh;
  }
}