.container {
  z-index: 3;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  margin-top: -14rem;
}


.list {
  display: flex;
  z-index: 3;
  justify-content: space-evenly;
  padding: 3rem;
  color: var(--font-color); 
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(15px);
}

.list_item {
  font-size: 2.8rem;
}

.list_item:hover {
  color: var(--primary-color);
}

.focus {
  color: #B06C6E;
}

.bar {
  width: 20rem;
  margin: 1rem 45vw;
  border: 2px solid rgba(0,0,0, 0.7);
  border-radius: 5px;
}

@media only screen and (max-width: 650px) { 
  .list_item {
    font-size: 2.2rem;
  }

  .list {
    padding: 1rem;
  }
}